#root {
  max-width: 40rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.StartButton {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in;
}

.StartButton.show {
  opacity: 1;
  pointer-events: all;
}

.LoadingIndicator {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in;
}

.LoadingIndicator.show {
  opacity: 1;
  pointer-events: all;
}

.GameView {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in;
}

.GameView.show {
  opacity: 1;
  pointer-events: all;
}